body
{
  padding: 0;
  margin: 0;
	background-color: #aaa;
	color: white;
	text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  
  letter-spacing: 1px;
}

p{
	margin: 10px;
  display: block;
}

label
{
	display: inline-block;
	margin: 10px;
}

button
{
	display: inline-block;
}

#header
{
  margin: 0;
  padding: 0;
  background-color: #777;
  height: 10%;
  box-shadow: 0px 3px 5px #444;
  text-align: center;
}



#box {
  min-width: 100%;
  height: 550px;
  background-color: #5DBCD2;
  /*background-color: #aaa;*/
  position: center;
  top: 50%;
  left: 50%;
  /*background-image: url("../Images for safety tip/water.jpg")*/
}

#box p {
   
  font-family: sans-serif;
  color: #fff;
  float: right;
  margin-bottom: 0;
}

#mark1
{
  margin: 0;
  padding: 0;
  height: 2px;
  width: 100%;
  top: 69px;
  position:relative;
  background-color: 000;
  display: inline-block;
  float: left;
  font-size: 1.5em;
}

#mark2
{
  margin: auto;
  padding: 0;
  height: 2px;
  width: 100%;
  top: 160px;
  left: 0px;
  position:relative;
  background-color: 000;
  display: block;
  float: left;
  font-size: 1.5em;
}

#mark3
{
  margin: auto;
  padding: 0;
  height: 2px;
  width: 100%;
  top: 255px;
  left: 0px;
  position:relative;
  background-color: 000;
  display: block;
  float: left;
  font-size: 1.5em;
}

#mark4
{
  margin: auto;
  padding: 0;
  height: 2px;
  width: 100%;
  top: 350px;
  left: 0px;
  position:relative;
  background-color: 000;
  display: inline-block;
  float: left;
  font-size: 1.5em;
}

#mark5
{
  margin: auto;
  padding: 0;
  height: 2px;
  width: 100%;
  top: 445px;
  left: 0px;
  position:relative;
  background-color: 000;
  display: inline-block;
  float: left;
  font-size: 1.5em;
}


#result p
{
  font-size: 1.5em;
}

span {
  color: #fff;
  font-weight: bolder;
}

#table
{
  margin: 0;
  padding: 0;
  background-color: #777;
  height: 10%;
  box-shadow: 0px 3px 5px #444;
  text-align: center;
  top: 900px;
  width: 100%;
  position: absolute;
}

img
{
  margin-top: 150px;
}

h1
{
  max-height: 10%;
}

.navbar-brand
{
  font-size: 2em;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  float: left;
}

